.sign-top-row {
    
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
}

.sign-top-row {
    position: sticky;
    top: 0;
}

    .sign-top-row > a, form {
        white-space: nowrap;
        margin-left: 1.0rem;
    }



    .sign-top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


.sign-top-row.auth {
    justify-content: space-between;
}
